{% extends 'writer/navbar.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}

    <br>
    {% for article in allArticles %}
    <div class="container bg-white shadow-md p-5 form-layout mb-2">
        <h3>{{ article.title }}</h3>

        <br>

        {{ article.content }}

        <br><br>

        {{ article.date_posted }}

        <br><br>

        {% if article.is_premium == True %}
            ⭐<strong> Premium </strong>
        {% elif article.is_premium == False %}
            <strong> Standard </strong>
        {% endif %}

        <hr>

        <a href="{% url 'writer:update-article' article.id %}" class="btn btn-success">Update Article</a>
        <a href="{% url 'writer:delete-article' article.id %}" class="btn btn-danger">Delete Article</a>
    </div>
    {% endfor %}

{% endblock content %}
